.home {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--customGrey);
}

.home h1 {
    text-align: center;
    padding-bottom: 1rem;
    color: var(--customBlue);
}

.landingPageContent {
    width: 80%;
    margin-top: 1rem;
}


/* -- -- -- -- -- -- -- -- Cards -- -- -- -- -- -- -- --  */

.contentCardsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

.contentCard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;
}

.cardsText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: var(--customBlue);
}

.contentCard img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* -- -- -- -- -- -- -- -- Contact Us Container -- -- -- -- -- -- -- --  */

.contactContainer {
    display: flex;
    width: 90%;
    padding-bottom: 5rem;
    height: 30rem;
}

/* -- -- -- -- -- -- -- -- Contact Form Container -- -- -- -- -- -- -- --  */


.formContainer h1,
.contactInfoContainer h1 {
    font-size: 20px;
    text-align: left;
    overflow: hidden;
}

.formContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.formContainer button {
    width: 7rem;
    border: none;
    background-color: var(--customBlue);
    padding: 0.5rem;
    color: var(--customGrey);
    overflow: hidden;
}


/* -- -- -- -- -- -- -- -- Form -- -- -- -- -- -- -- --  */

#contactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    overflow: hidden;
    height: 65%;
}

#contactForm input {
    padding-left: 10px;
    height: 2rem;
    width: 48%;
}

#contactForm textarea {
    width: 100%;
    padding-left: 10px;
    padding-top: 0.2rem;
    height: 10rem;
}


#contactForm input,
#contactForm textarea,
.formContainer button {
    border-radius: 10px;
}

/* -- -- -- -- -- -- -- -- Contact info -- -- -- -- -- -- -- --  */


.contactInfoContainer {
    margin-left: auto;
    width: 40%;
    text-align: left;
}

.contactInfoContainer p {
    padding-top: 1rem;
}

@media (max-width: 1100px) {
    .contentCard {
        flex-direction: column;
        align-items: center;
    }

    .contentCard img {
        margin-bottom: 3rem;
    }

    .cardsText {
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
}

/* -- -- -- -- -- -- -- -- Footer -- -- -- -- -- -- -- --  */

footer {
    width: 100vw;
    height: 2rem;
    background-color: black;
}

@media (max-width: 450px) {
    .contentCard img {
        width: 80%;
    }

    #contactForm input {
        width: 100%;
    }

    .contactContainer {
        height: 40rem;
    }

    .formContainer {
        align-items: center;
    }

    .formContainer h1 {
        text-align: center;
    }
}